$mainColorBlack: #1E1F1E;
$footerColorBlack: #202020;
$overlay-color: rgba(0, 0, 0, 0.5); 
$maincolorWhite: #ffffff;
$gradient: linear-gradient(180deg, #1f1f1e 17.85%, #6d6d6d 55.01%, #1f1f1e 91.87%);
$sidebarColor: #C8C8C8;
$textGray: #6D6D6D;
$containerMaxWidth: 1280px;
$mainHeadSize: clamp(100px, 15vw, 180px);
$mainTextSize: clamp(14px, 2vw, 20px);
$secondTextSize: clamp(12px, 1.6vw, 16px);
$textStrong: clamp(20px, 2.5vw, 40px);
$headingGradientSize: clamp(50px, 11vw, 100px);
$headingCaseCategory: clamp(18px, 2.1vw, 30px);